html
{ height: 100%;}
*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background-color:#FAFAFA;
  }

#main, #header, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;
  }

#main
{
  margin: 20px auto;
}

#header
{
  height: 177px;
  background-color:#8B8B8B;
}

#logo {
    width: 880px;
    position: relative;
    height: 140px;
    margin: 0px 0px 0px 158px;
}

#menubar {
  width: 1048px;
  height: 38px;
  padding: 0;
  background-color:#BABABA;
}


ul#menu, ul#menu li
{ float: left;
  margin: 0;
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block;
  float: left;
  height: 12px;
  padding: 13px 45px 12px 44px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #626262;}

#site_content
{
width:1024px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 25px 0 0 25px;
  background-color:#F2F2F2;
  border-top: 0;
  border-bottom: 0;
} 
#footer
{
  font: normal 90% 'trebuchet ms',  arial, sans-serif;
  height: 50px;
  padding: 20px 0 5px 0;
  color: #FFF;
  background-color:#424242;
}
#footext{
height:50;
width:1024;

}

#get_app
{
  margin: 0px auto 0 -8px;
  float:left;
  width: 420px;
  height: 400px;


} 

#get_schema{
  margin: 0px auto 0 -8px;
  float:center;
  background-color:#DFDFDF;
  width: 100%;
  height: 100%;
  } 

#table_version{
  margin: -82px 103px 0 -65px;
  background-color:#CEECF5;
  width: 94px;
  }
#add_app
{
  margin: 0px 0px 0 auto;
  padding-top: 0px;
  float:right;
  width: 574px;
  height: 250px;    
  }
#add_schema
{
  margin: 0px 20px 0 auto;
  padding-top: 0px;
  float:right;
  background-color: #DFDFDF;
  width: 100%;
  height: 100%px;
}
#inside
{
  background-color: red;
  width: 40px;
  height: 20px;   
}

.note1
{
margin: 0px 0px 0px 15px;
font-size: 18px;
}
#test2{
  color:#0A9100;
}

#note2, #note4, #note6, #note22, #note33, #note44,
#note66, #note88, #note100, #note102, #test1,
#test
{
color: #9EFF00;

font-size: 11px;
}

#note3, #note5, #note7,#note55, #note101, #note103,
#test3, #test4, #test5
{
color: red;

font-size: 11px;
}
#S1{
width: 980px;
height: 400px;

}
#S11{
width: 480px;
height: 400px;
float: left;

}
#S12{
width: 500px;
height: 400px;
float: right;

}
#S2{
width: 980px;
height: 130px;
float:left;
}
#S3{
width: 980px;
height: 650px;
}
    
#S31{
width: 980px;
height: 50px;
float:right;
}
#S32{
width: 400px;
height: 400px;
float:right;
}
#S33{
width: 580px;
height: 400px;
float:left;
}
#sec
{
width:400px;
margin: 10px 68px 0px 0px;
background-color:#CEECF5;
}
#fir
{
width:400px;
margin: 10px 68px 0px 0px;
background-color:#FFF;
}

#test{
float: right;
width: 380px;
height: 50px;
margin-top: 220px;
}
#VersionSchema{
float: right;
width: 250px;
height: 25px;
margin-top: 0px;
}
#get
{
width: 250 px;
}
#sn1{
margin: 0px 0px -20px 250px;
width: 200px;
height: 20px; 
}
#sn2{
margin: 0px 0px 0px 460px;
width: 200px;
height: 20px; 
}

#tbl
{
width:350px;
margin: -16px 68px 25px 0px;
}
#tbl_S
{
width:350px;
height: 40px;
margin: -16px 68px 0px 0px;
background-color:#CEECF5;
}

#table_schema
{
width:314px;
margin: -16px 60px 0px 182px;
}

#text
{
color: black;
font-weight: 500;
float:center;
}

#Name
{

margin-left: 50px;

}

#NameSpace
{

margin-left: 40px;

}

#lable_app
{
margin: -26 px 0px 20px 117px;
font-size:20px;
}

#lable_app2
{
margin: 2px 0px -13px 124px;
font-size:20px;
}

.button {
background-color: #555555;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;

}
.button5{
float: right;
background-color:#242424;
width:200px;
height: 50px;
border-bottom:groove;
cursor: pointer;
}
.button6{
float: right;
background-color:#242424;
width:200px;
height: 50px;
border-bottom:groove;
margin-top: 130px;
cursor: pointer;
}
.button7{
float: right;
background-color:#242424;
width:200px;
height: 50px;
border-bottom:groove;
cursor: pointer;
}
.button8{
float: right;
background-color:#242424;
width:200px;
height: 50px;
border-bottom:groove;
margin-top: 30px;
cursor: pointer;
}

#nameP{
margin: 0px 0px 20px 0px;

}
#add_applic
{
margin: 0px 0px 0px 35px;
}


/*--select option style--*/
select {
    border: 1px solid #d6d8db;
    background-color: #ecedee;
    color: #47515c;
    padding: 12px 10px 12px 10px;
    width: auto;
    cursor: pointer;
    margin-bottom: 10px;
    font-size:15px;
}
select > option {
    padding: 5px 0px;
}
.customSelect {
    border: 1px solid #d6d8db;
    background-color: #ecedee;
    color: #47515c;
    padding: 12px 10px 12px 10px;
    margin-bottom: 10px;
}
.customSelect.changed {
    background-color: #f0dea4;
}

input[type="text"] {
    font-size:15px;
}


