html
{ height: 100%;}
*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background-color: #505050;}

#main, #header, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;
}

#header
{ width: 950px;
  height: 121px;
background-color: #505050;
}


#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 0px 0 0 0;
  color: #A8AA94;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 
{ color: #FFF;}


#menubar
{ height: 46px;
  width: 950px;
  margin: 45px auto 0 auto;
  background-color: #2E2E2E;} 

ul#menu
{ float: left;
  margin: 0;padding: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 6px;
  list-style: none;
  margin: 0px 2px 0 0;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 27px;
  padding: 12px 28px 5px 22px;
  text-align: center;
  color: #FFF;
  border-right: 1px solid #636363;
  text-decoration: none;} 

ul#menu li.tab_selected a
{ height: 27px;
  padding: 6px 28px 5px 22px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #ECEF01;}

ul#menu li a:hover
{ color: #ECEF01;}

#site_content
{ 
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 25px 0 0 25px;
  background-color: #DFDFDF;
  border-top: 0;
  border-bottom: 0;
} 
#footer
{ width: 950px;
  font: normal 90% 'trebuchet ms',  arial, sans-serif;
  height: 25px;
  padding: 20px 0 5px 0;
  color: #FFF;
  background-color:#2E2E2E;
}
#get_app{
  margin: 0px auto 0 -8px;
  float:left;
  background-color:#DFDFDF;
  width: 420px;
  height: 200px;
  } 
#add_app
{
  margin: 0px 20px 0 auto;
  padding-top: 0px;
  float:right;
  background-color: #DFDFDF;
  width: 420px;
  height: 200px;    
  }
#inside
{
  background-color: red;
  width: 40px;
  height: 20px;   
  }

#note1
{
margin: 0px 0px 0px 15px;
}

#note2, #note4, #note6
{
color: #9EFF00;
font-weight: 900;
}

#note3, #note5, #note7
{
color: red;
font-weight: 900;
}

#get
{
width: 250 px;

}

#tbl
{
width:250px;
margin: -16px 68px 0px 0px;
}

#text
{
color: black;
font-weight: 500;
float:center;
}

#Name
{
margin: 0px 30px 0px 23px;

}

#NameSpace
{
margin: 12px 0px 0px 10px;

}

#lable_app
{
margin: -26 px 0px 20px 117px;
font-size:20px;
}
#lable_app2
{
margin: 2px 0px -13px 124px;
font-size:20px;
}

#add_applic
{
margin: 0px 0px 0px 35px;


fieldset 
{
  font-size:12px;
  padding:10px 0px 0px 0px;
  width:200px;
  line-height:1.8;
}

